html,
body {
  height: 100%;
  margin: 0;
}

.dark {
  background-color: rgb(17, 1, 36);
}

.light {
  background-color: rgb(252, 224, 212);
}

#theme {
  padding: 15px 30px;
  margin: 10px;
  font-size: 16px;
  color: white;
  background-color: #9b59b6;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 5px 0 #8e44ad;
  transition: all 0.1s ease;
  width: 175px;
  margin-left: auto;
}

#theme:active {
  box-shadow: 0 2px 0 #8e44ad;
  transform: translateY(3px);
}

#theme:hover {
  color: yellow;
}

#left {
  flex: 0 0 350px;
}

@media (min-width: 800px){
  main {
    max-width: 1440px;
    display: flex;
    gap: 50px;
    justify-content: center;
    margin: 0 auto;
    flex: 1;
  }

  #MainImg {
    margin-left: 39px;
  }
  
  #MainText {
    margin-left: 15%;
  }

  #char {
    margin-left: 10%;
  }

  #gallerey {
    margin-left: 10%;
    text-align: center;
  }
}

@media (max-width: 800px){
  main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  #MainImg {
    text-align: center;
    margin-left: 50px;
  }
  
  #MainText {
    text-align: center;
  }

  #gallerey {
    margin-bottom: 50px;
  }

  #theme {
    margin-left: 110px;
    margin-bottom: 30px;
  }

  #phrasesTitle {
    text-align: center;
  }

  #factsTitle {
    text-align: center;
  }
}

#MainImg {
  width: 300px;
  height: 300px;
  border-radius: 150px;
}

#MainText {
  font-family: Apple Chancery, cursive;
}

.dark #MainText {
  color: white;;
}

#phrases {
  margin-top: 60px;
}

#facts {
  margin-top: 60px;
}

#factsText {
  font-size: 24px;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

#char {
  margin-top: 80px;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

.dark #characteristic {
  color: rgb(5, 255, 5);
  font-size: 25px;
}

.light #characteristic {
  color: rgb(255, 0, 0);
  font-size: 25px;
}

.th {
  color: yellow;
}

.th2 {
  color: white;
}

.dark .text {
  color: white;
}

#gallerey {
  margin-top: 80px;
  text-align: center;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

footer {
  width: 100%;
  height: 240px;
  text-align: center;
  font-size: 25px;
  font-family: Comic Sans MS, Comic Sans, cursive;
  margin-top: 60px;
}

.dark footer {
  background-color: black;
}

.light footer {
  background-color: white;
}

.dark #author {
  color: white;
}

#wiki {
  color: rgb(1, 103, 255);
}
