html,
body {
  height: 100%;
  margin: 0;
}

.dark {
  background-color: rgb(17, 1, 36);
}

.light {
  background-color: rgb(252, 224, 212);
}

#theme {
  padding: 15px 30px;
  font-size: 16px;
  color: white;
  background-color: #9b59b6;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 5px 0 #8e44ad;
  transition: all 0.1s ease;
  width: 175px;
  margin-left: auto;
}

#theme:active {
  box-shadow: 0 2px 0 #8e44ad;
  transform: translateY(3px);
}

#theme:hover {
  color: yellow;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#MainImg {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  margin-left: 39px;
}

#MainText {
  font-family: Apple Chancery, cursive;
  margin-left: 15%;
}

.dark #MainText {
  color: white;;
}

main {
  max-width: 1440px;
  display: flex;
  gap: 50px;
  justify-content: center;
  margin: 0 auto;
  flex: 1;
}

#left {
  flex: 0 0 350px;
}

#phrases {
  margin-top: 60px;
}

#facts {
  margin-top: 60px;
}

#factsText {
  font-size: 24px;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

#char {
  margin-top: 80px;
  margin-left: 10%;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

.dark #characteristic {
  color: rgb(5, 255, 5);
  font-size: 25px;
}

.light #characteristic {
  color: rgb(255, 0, 0);
  font-size: 25px;
}

.th {
  color: yellow;
}

.th2 {
  color: white;
}

.dark .text {
  color: white;
}

#gallerey {
  margin-top: 80px;
  margin-left: 10%;
  text-align: center;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

  footer {
  width: 100%;
  height: 240px;
  text-align: center;
  font-size: 25px;
  font-family: Comic Sans MS, Comic Sans, cursive;
  margin-top: 60px;
}

.dark footer {
  background-color: black;
}

.light footer {
  background-color: white;
}

.dark #author {
  color: white;
}

#wiki {
  color: rgb(1, 103, 255);
}
